In [1]:
# Import libraries
import pandas as pd

In [2]:
sales_data = pd.read_excel(
    r"E:\Python_Data projects\Amazon Sales Project\sales_data.xlsx"
)

In [3]:
sales_data

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,0.0,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Blouse,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1.0,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,0.0,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,Blouse,...,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,0.0,NaN
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Dress,...,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,0.0,NaN
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN

In [4]:
# =========================================
#  Exploring The Data
# =========================================
# Summary of dataset
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128935 non-null  object
 18  ship-postal-code    128935 non-null  float64
 19  ship-country        128935 non-null  object
 20  promotion-ids       79815 non-null   object
 21  B2B                 128968 non-null  float64
 22  fulfilled-by        39276 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 22.6+ MB

In [5]:
# Statistical description
sales_data.describe()

,index,Qty,Amount,ship-postal-code,B2B
count,128975.000000,128975.000000,121180.000000,128935.000000,128968.000000
mean,64487.000000,0.904431,648.561465,463963.108256,0.006754
std,37232.019822,0.313354,281.211687,191475.865632,0.081903
min,0.000000,0.000000,0.000000,110001.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,0.000000
50%,64487.000000,1.000000,605.000000,500033.000000,0.000000
75%,96730.500000,1.000000,788.000000,600024.000000,0.000000
max,128974.000000,15.000000,5584.000000,989898.000000,1.000000

In [6]:
# Check column names
print(sales_data.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [7]:
# Look at first few rows
display(sales_data.head())

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,0.0,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Blouse,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1.0,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,0.0,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN

In [8]:
#  Check datatypes of columns
print(sales_data.dtypes)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                   float64
fulfilled-by           object
dtype: object

In [9]:
# ==========================================
# Cleaning The Data
# ==========================================

# Check for missing values
print(sales_data.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               40
ship-postal-code         40
ship-country             40
promotion-ids         49160
B2B                       7
fulfilled-by          89699
dtype: int64

In [10]:
# Drop rows with any missing values
sales_data_dropped = sales_data.dropna()

In [11]:
sales_data_dropped

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,...,1,INR,406.0,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,Blouse,...,1,INR,399.0,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
12,12,405-5513694-8146768,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-XS,Blouse,...,1,INR,399.0,Amravati.,MAHARASHTRA,444606.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
14,14,408-1298370-1920302,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0351,J0351-SET-L,Set,...,1,INR,771.0,MUMBAI,MAHARASHTRA,400053.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
15,15,403-4965581-9520319,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,PJNE3368,PJNE3368-KR-6XL,Blouse,...,1,INR,544.0,GUNTAKAL,ANDHRA PRADESH,515801.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128872,128872,405-4724097-1016369,2006-01-22 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0243,J0243-DR-S,Dress,...,1,INR,999.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
128873,128873,405-4724097-1016369,2006-01-22 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0079,J0079-SKD-S,Set,...,1,INR,1523.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
128874,128874,405-4724097-1016369,2006-01-22 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0009,J0009-SKD-S,Set,...,1,INR,854.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
128887,128887,405-6493630-8542756,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0301,J0301-TP-M,Top,...,1,INR,518.0,NOIDA,UTTAR PRADESH,201301.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
128891,128891,403-0317423-9322704,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3869,JNE3869-DR-M,Dress,...,1,INR,721.0,UTTAR BAGDOGRA,WEST BENGAL,734014.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship

In [12]:
# Drop rows with missing values only in 'Amount' column
sales_data_cleaned = sales_data.dropna(subset=['Amount'])
sales_data_cleaned

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,0.0,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Blouse,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1.0,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,0.0,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,Blouse,...,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,0.0,NaN
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Dress,...,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,0.0,NaN
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN

In [13]:
# Re-check for missing values after cleaning
print(sales_data_cleaned.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         5136
Qty                       0
currency                  0
Amount                    0
ship-city                31
ship-state               38
ship-postal-code         38
ship-country             38
promotion-ids         41705
B2B                       7
fulfilled-by          83640
dtype: int64

In [14]:
# ============================================
#  Slicing and Filtering The Data
# ============================================
# Filter rows where Category = 'Top'
category_data = sales_data[sales_data['Category'] == 'Top']
display(category_data.head())

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.0,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN
47,47,408-9281152-6213100,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3744,JNE3744-TU-S,Top,...,1,INR,665.0,SECUNDERABAD,TELANGANA,500017.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
54,54,402-7944191-1869101,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,...,1,INR,493.0,BENGALURU,KARNATAKA,560076.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
67,67,404-4535078-5241919,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3645,JNE3645-TP-N-L,Top,...,1,INR,432.0,PUNE,MAHARASHTRA,411014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
109,109,403-7266170-1163500,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3648,JNE3648-TP-N-M,Top,...,1,INR,518.0,MUMBAI,MAHARASHTRA,400076.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship

In [15]:
# Filter rows where Amount > 1000
high_amount_data = sales_data[sales_data['Amount'] > 1000]
display(high_amount_data.head())

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
32,32,404-9632124-1107550,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0011,J0011-LCD-M,Set,...,1,INR,1233.0,VISAKHAPATNAM,ANDHRA PRADESH,530016.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
43,43,408-3478480-0881162,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET360,SET360-KR-NP-M,Set,...,1,INR,1126.0,LUCKNOW,UTTAR PRADESH,226017.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
46,46,408-3917043-5314763,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-L,Set,...,1,INR,1146.0,ONGOLE,ANDHRA PRADESH,523001.0,IN,NaN,0.0,NaN
52,52,408-7138000-9728362,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET282,SET282-KR-PP-M,Set,...,1,INR,1033.0,dimapur,NAGALAND,797112.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
69,69,405-6480932-8759528,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0381,J0381-SKD-XXXL,Set,...,1,INR,1146.0,VIJAPURA,KARNATAKA,586201.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN

In [16]:
# Filter rows where Category = 'Top' AND Qty = 3
filter_data = sales_data[
    (sales_data['Category'] == 'Top') & (sales_data['Qty'] == 3)
]
display(filter_data.head())

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
57091,57091,405-3036482-4663513,05-25-22,Shipped,Amazon,Amazon.in,Expedited,J0119,J0119-TP-XXL,Top,...,3,INR,1722.0,DOMBIVLI,MAHARASHTRA,421201.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
79902,79902,405-4225331-3338755,2005-07-22 00:00:00,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,JNE3671,JNE3671-TU-M,Top,...,3,INR,1764.0,MAHENDRAGARH,HARYANA,123029.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
79903,79903,405-4225331-3338755,2005-07-22 00:00:00,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,JNE3673,JNE3673-TU-M,Top,...,3,INR,1797.0,MAHENDRAGARH,HARYANA,123029.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship

In [17]:
# ============================================
#  Aggregating Sales Data
# ============================================

#  Total sales by Category
category_totals = sales_data.groupby('Category', as_index=False)['Amount'].sum()
category_totals = category_totals.sort_values('Amount', ascending=False)
display(category_totals)

  Category       Amount
4      Set  39204124.03
0   Blouse  21757954.88
2    Dress  12131224.11
5      Top   5347792.30
1   Bottom    150667.98
3    Scarf       915.00

In [18]:
#  Average sales by Fulfilment & Category
fulfilment_averages = (
    sales_data.groupby(['Category','Fulfilment'], as_index=False)['Amount'].mean()
    .sort_values('Amount', ascending=False)
)
display(fulfilment_averages)

   Category Fulfilment      Amount
7       Set     Amazon  838.042180
8       Set   Merchant  822.466512
4     Dress     Amazon  776.077009
5     Dress   Merchant  740.499730
9       Top     Amazon  536.449448
10      Top   Merchant  493.678577
0    Blouse     Amazon  459.493705
1    Blouse   Merchant  451.327641
2    Bottom     Amazon  365.080508
3    Bottom   Merchant  350.592283
6     Scarf     Amazon  305.000000

In [19]:
#  Average sales by Status & Category
status_averages = (
    sales_data.groupby(['Category','Status'], as_index=False)['Amount'].mean()
    .sort_values('Amount', ascending=False)
)
display(status_averages)

   Category                         Status       Amount
24    Dress              Shipped - Damaged  1136.000000
39      Set     Shipped - Out for Delivery   908.105263
29    Dress    Shipped - Rejected by Buyer   899.000000
43      Set  Shipped - Returning to Seller   875.835616
40      Set            Shipped - Picked Up   846.322660
34      Set                        Pending   837.629482
36      Set                        Shipped   836.530584
37      Set   Shipped - Delivered to Buyer   827.042759
33      Set                      Cancelled   826.970953
42      Set   Shipped - Returned to Seller   824.475817
35      Set  Pending - Waiting for Pick Up   791.120370
31    Dress  Shipped - Returning to Seller   782.642857
23    Dress                        Shipped   774.604673
22    Dress  Pending - Waiting for Pick Up   767.531646
27    Dress     Shipped - Out for Delivery   765.000000
20    Dress                      Cancelled   752.765319
41      Set    Shipped - Rejected by Buyer   748.666667
21    Dress                        Pending   744.818182
25    Dress   Shipped - Delivered to Buyer   744.078590
30    Dress   Shipped - Returned to Seller   730.042424
28    Dress            Shipped - Picked Up   724.206349
54      Top  Shipped - Returning to Seller   577.000000
8    Blouse    Shipped - Rejected by Buyer   544.500000
46      Top                        Pending   543.327273
45      Top                      Cancelled   535.254885
48      Top                        Shipped   534.187807
47      Top  Pending - Waiting for Pick Up   530.210526
6    Blouse     Shipped - Out for Delivery   521.800000
19   Bottom  Shipped - Returning to Seller   518.000000
53      Top   Shipped - Returned to Seller   511.699187
50      Top     Shipped - Out for Delivery   503.600000
38      Set      Shipped - Lost in Transit   499.500000
5    Blouse      Shipped - Lost in Transit   499.000000
49      Top   Shipped - Delivered to Buyer   494.132292
2    Blouse  Pending - Waiting for Pick Up   484.739726
7    Blouse            Shipped - Picked Up   484.421405
51      Top            Shipped - Picked Up   479.086957
10   Blouse  Shipped - Returning to Seller   475.314286
1    Blouse                        Pending   465.624000
3    Blouse                        Shipped   459.515805
9    Blouse   Shipped - Returned to Seller   458.880330
4    Blouse   Shipped - Delivered to Buyer   452.251719
0    Blouse                      Cancelled   448.172337
52      Top    Shipped - Rejected by Buyer   407.500000
12   Bottom                      Cancelled   371.097073
15   Bottom                        Shipped   368.262443
16   Bottom   Shipped - Delivered to Buyer   349.748201
32    Scarf                        Shipped   305.000000
14   Bottom  Pending - Waiting for Pick Up   301.000000
18   Bottom   Shipped - Returned to Seller   292.200000
17   Bottom            Shipped - Picked Up   287.100000
13   Bottom                        Pending     0.000000
26    Dress      Shipped - Lost in Transit     0.000000
11   Blouse                       Shipping          NaN
44      Set                       Shipping          NaN
55      Top                       Shipping          NaN

In [20]:
#  Total sales by Shipment & Fulfilment
total_sales_shipandfulfil = (
    sales_data.groupby(['Courier Status','Fulfilment'], as_index=False)['Amount'].sum()
    .sort_values('Amount', ascending=False)
    .rename(columns={'Courier Status':'Shipment'})
)
display(total_sales_shipandfulfil)

    Shipment Fulfilment      Amount
1    Shipped     Amazon  50331934.0
2    Shipped   Merchant  20726730.0
3  Unshipped     Amazon   3990217.0
4  Unshipped   Merchant    353625.0
0  Cancelled     Amazon         0.0

In [21]:
# =============================================================================
# Exporting Data
# =============================================================================
status_averages.to_excel('average_sales_by_Category_and_Status.xlsx', index=False)
total_sales_shipandfulfil.to_excel('total_sales_by_Shipment_and_Fulfilment.xlsx', index=False)

In [22]:
status_averages.to_excel('average_sales_by_Category_and_Status.xlsx', index=False)

In [23]:
total_sales_shipandfulfil.to_excel('total_sales_by_Shipment_and_Fulfilment.xlsx', index=False)